.main {
  min-height: 600px;
}

.banner {
  width: 100%;
  height: 490px;
  position: relative;
  overflow: hidden;
}

.banner_lists {
  width: 400%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.banner_lists li {
  float: left;
  width: 25%;
  height: 100%;
}

.banner_circle {
  width: 16%;
  position: absolute;
  bottom: 15px;
  left: 40%;
  display: flex;
}

.banner_circle li {
  flex: 1;
  height: 7px;
  margin: 0px 10px;
  background-color: #fff;
  border-radius: 8px;
}

.banner_circle li:nth-child(1) {
  background-color: #ff4902;
}

.banner_arrow {
  padding: 0 20px;
  width: 100%;
  position: absolute;
  top: 42%;
  left: 0;
}

.banner_arrow a {
  color: #999;
  display: inline-block;
  width: 40px;
  height: 80px;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  font-size: 60px;
}

.arrow-left {
  float: left;
}

.arrow-right {
  float: right;
}

.banner_arrow a:hover {
  color: #ff4902;
}

.filter_title {
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
}

.filter_lists {
   background: #fff;
}

.filter_nav {
  width: 80%;
  margin: 0 auto;
  padding: 15px 0px;
} 

.filter_nav li {
  display: flex;
  margin: 10px 0px;
}

.filter_nav li a {
  flex: 1;
}

.selected {
  color: #ff4902;
}

.filter_content {
  height: 600px;
}

.filter_content>div {
  width: 80%;
  margin: 0 auto;
}

.movies_message {
  height: 550px;
  padding: 10px 0px;
}

.movie_item {
  display: inline-block;
  margin: 10px 7px 0px 0px;
}

.page {
  margin: 12px auto;
  height: 30px;
  display: flex;
}

.page p {
  flex: 3;
  text-align: center;
}

.page btn {
  flex: 1;
}