ul, li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
body {
  background-image: url(../images/mountain.jpg);
}
.main {
  min-height: 850px;
  width: 70%;
  margin: 0 auto;
  padding: 30px 0px 10px 0px;
}
.movie_name {
  font-size: 25px;
}
.movie_picture {
  width: 133px;
  height: 200px;
  float: left;
}
.movie_information {
  display: inline-block;
  float: right;
  padding-top: 20px;
  width: 700px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.movie_evaluation_logo, .recommendation_title {
  font-size: 20px;
  margin: 15px 0px;
}
.movie_information li {
  line-height: 30px;
  font-size: 16px;
}
.movie_item {
  display: inline-block;
  width: 150px;
  padding: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}
.movie_title p {
  text-align: center;
  margin-bottom: 5px;
}
.movie_item img {
  height: 195px;
  width: 130px;
}
.userName {
  font-size: 15px;
}
.movie_content li {
  border: solid 1px gray;
  font-size: 14px;
  background-image: url(../images/wood.jpg);
}
.movie_title {
  color: white;
}
.recommendation_title {
  color: #FFFF6F;
}
.movie_evaluation_logo{
  color: #FFFF6F;
}