.main {
  min-height: 850px;
  width: 80%;
  margin: 0 auto;
  padding: 30px 0px 10px 0px;
  background: #fff;
}

.movie_name {
  font-size: 25px;
  margin-bottom: 10px;
}

.movie_picture {
  width: 133px;
  height: 200px;
  float: left;
  margin-right:36px;
}

.movie_information {
  float: left;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.movie_evaluation_logo, .recommendation_title {
  font-size: 20px;
  margin: 15px 0px;
  color:#007722;
}

.movie_information li {
  line-height: 30px;
  font-size: 16px;
}

.move_recommendation{
  display: flex;
  padding: 5px;
}

.movie_item {
 flex: 1;
}

.userName {
  font-size: 15px;
}

.movie_content li {
  font-size: 14px;
}

