.main {
  min-height: 850px;
}
.movie_name {
  font-size: 25px;
  position: absolute;
  left: 20%;
  top: 80px;
}
.movie_picture {
  width: 133px;
  height: 200px;
  position: absolute;
  left: 20%;
  top: 150px;
}
.movie_information {
  position: absolute;
  left: 50%;
  top: 150px;
}
.movie_evaluation {
  position: absolute;
  left: 20%;
  top: 400px;
}
.movie_evaluation_logo {
  font-size: 25px;
}
.recommendation {
  position: absolute;
  left: 20%;
  top: 600px;
}
img {
  width: 100%;
  height: 100%;
}
.movie_information li {
  line-height: 30px;
  font-size: 20px;
}
.movie_item {
  display: inline-block;
  width: 150px;
  padding: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}
.movie_title p {
  text-align: center;
  margin-bottom: 5px;
}
.movie_item img {
  height: 195px;
  width: 130px;
}
a {
  text-decoration: none;
  color: #000;
}