.main {
  min-height: 800px;
}
.movie_name {
  font-size: 25px;
  position: absolute;
  left: 20%;
  top: 80px;
}
.movie_picture {
  position: absolute;
  left: 20%;
  top: 150px;
}
.movie_information {
  position: absolute;
  left: 50%;
  top: 130px;
}
.movie_evaluation {
  position: absolute;
  left: 20%;
  top: 400px;
}
.movie_evaluation_logo {
  font-size: 25px;
}
.recommendation {
  position: absolute;
  left: 20%;
  top:600px;
}