body {
  font-size: 13px;
  width: 100%;
  background: #eee;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  outline: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

.header {
  height: 50px;
  background-color: #000;
  color: #fff;
  text-align: center;
  display: flex;
}

.logo {
  flex: 1;
}

.search_box {
  flex: 3;
  margin: 10px 20px;
}

.search_txt {
  border: none;
  height: 30px;
  width: 60%;
  border-radius: 7px;
}

.btn {
  min-width: 50px;
  height: 30px;
  background-color: #fff;
  border: none;
  line-height: 30px;
  padding: 0px 10px;
  border-radius: 7px;
}

.header_nav {
  flex: 1;
  margin: 10px 20px;
}

.movie_item {
  width: 15%;
  height:250px;
  padding: 7px 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.movie_img {
  height: 190px;
  margin-bottom: 5px;
}

.movie_title p {
  text-align: center;
  margin-bottom: 5px;
}

.footer {
  height: 40px;
  line-height: 40px;
  background-color: #000;
  color: #fff;
  text-align: center;
}